[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pandas_ta = "*"
talipp = "*"

[dev-packages]
pylint = "3.3.1"
mypy = "*"
pre-commit = "*"
black = "*"
pytest = "*"
pytest-mock = "*"
pandas-stubs = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8.10"

[scripts]
start = "python -m castello_technical_indicators"
test = "pytest -vv"
setup = "pre-commit install"
